#bdy {
    background-image: linear-gradient(rgba(80, 79, 79, 0.315),rgba(80, 79, 79, 0.315)), url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: max-content;
    width: 99%;
}
/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
    display: block;
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

.card a
{
    text-decoration: none;
    color: #000;
}

.card a : hover
{
    color: #777;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked, .price span {
  color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
  .size:first-of-type {
    margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


/*# sourceMappingURL=style.css.map */

/*////////////////////////////////////////////////////////
////////////////////ADDTIONS////////////////////////
///////////////////////////////////////////////////////*/


.arul p{
    background-color:black;
    text-align:center;
    padding:10px;
}
.arul .topbar{
    text-align: right;
    background:transparent;
    padding:15px 0px;
}
.arul #t1{
    text-align:right;
}

.arul #logo{
    float:left;
    font-size:35px;

}
.arul .topbar ul li{
    list-style:none;
    display:inline;
    padding:15px;
    width:100%;
}
.arul li{
    color:white;
}
.arul a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.arul a:hover,
.arul li i:hover
{

    font-weight: bold;
    color:rgb(255, 194, 27);
    transition:0.5s;
}

.arul .topbar
{
    box-shadow: 0 2px 5px white;

}
.arul #menu
{
    font-size:35px;
    padding:8px;
    display: none;
    color:white;
    border:1px solid #fff;
    border-radius: 12px;
    margin-right:5px;

}

.arul #alt{
    text-align:center;
    list-style:none;
    background-color:#e83283;
    font-weight:bold;
}
.arul #alt li a{
    color:white;

}
.arul #alt li a:hover{
    color:rgb(255, 194, 27);
}

.arul .hide{
    display:none;
}
.arul .show{
    display:inline;
    color:white;
}

.arul .center{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.arul #cat{
    margin:0px 20px;
    padding:5px 10px;
    padding-top:0px;
    background-color:#e83283;
    border:1px solid #e83283;
    color:#e83283;
    font-size:25px;
    color:white;
}
.arul #sea{
    padding:9px 20px;
    font-size:25;
    width:500px;
    border:1px solid #e83283;
    background:transparent;
}

.arul #icons{
    padding:5px 10px;
    padding-top:0px;
    background-color:transparent;
    border:1px solid #e83283;
    color:#e83283;
    font-size:25px;
}

.arul #cat:hover,
.arul #icons:hover{
    background-color:rgb(255, 194, 27);
    color:white;
    transition:left 0.5s;
    border:0;
}
.arul #btn a{
    border:0;
    background: transparent;
}

.arul #bottom{
    position:relative;
    bottom:0%;
    left:0%;
    right:0%;
}
.arul #down{
    width:100%;
    color:black;
    background: #e83283;
    background:transparent;

}
.arul #down a{
    border:0;
}
.arul #des{
    background-color:#e83283;
    background:transparent;
    color:white;
    padding:10px;
    border:1px solid black;
    border:0;
}

/*
.img{
    width:250px;
    height:150px;
    margin:20px;

}
.card{
    border-radius: 5px;
    width:300px;
    height:350px;
    margin:30px;
    padding:10px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow:0 5px 2px gray;
    background:white;
    text-align:center;
    border: 1px solid black;
}
.img:hover {
    width:300px;
    height:200px;
}
#cards a{
    color:black;
}
#cards,
.card {
    cursor:pointer;
}

#cards{
    display:flex;
    justify-content:space-around ;
    flex-wrap:wrap;

}
*/
@media (max-width:700px){
    .arul #menu{
        display:inline;
    }
    .arul .topbar ul li{
        display:none;
    }
}
